<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ExportServiceRestBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ExportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ExportServiceBinding" maxReceivedMessageSize="50000000" transferMode="Streamed" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="ExportServiceRestBinding" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ExportServiceBehavior" name="DevExpress.Xpf.Printing.Service.ExportService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ExportServiceBinding" contract="DevExpress.Xpf.Printing.Service.IExportService" />
        <endpoint address="rest" behaviorConfiguration="ExportServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="ExportServiceRestBinding" contract="DevExpress.Xpf.Printing.Service.IExportServiceRest" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>